<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Locação de Veiculos - Login</title>
<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>
<body>
	<header>
		<!-- Navbar -->
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand mb-0 h1" style="font-weight: bold;" href="#">SLV
				- Sistema de Locação de Veiculos</a>
		</nav>
	</header>

	<section>
		<div class="container">
			<div th:if="${param.error}">
				<div class="alert alert-danger">Usuário e/ou inválidos!</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-xs-8 mx-auto" id="classePrincipal">
					<div class="card card-signin flex-row my-5">
						<div class="card-body">
							<h5 class="card-title text-center">Login</h5>
							<hr>

							<form method="POST">
								<div class="form-row">
									<div class="col-md-12 mb-4">
										<label for="nome" id="label">Nome</label> <input type="text"
											class="form-control" value="" name="nome"
											placeholder="Nome *">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label for="inputSenha" id="label">Senha</label> <input
											type="password" class="form-control" value="" name="password"
											placeholder="Senha *">
									</div>
								</div>


								<hr>
								<div class="form-label-group col-md-12">

									<button type="submit" class="btn btn-primary"
										style="margin-top: 10px;">Entrar</button>
										<label class="custom-control custom-checkbox float-right">
										<a href="#" class="register-form-link">Cadastre-se</a>
									</label>
								</div>

								
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>