<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section layout:fragment="corpo">
		<div class="btn-topo2" style="margin: 32px 0;" id="about">
			<div class="container">
				<div class="w3-display-left w3-padding ">
					<div class="w3-container w3-red">
						<h2>
							<i class="fa fa-car"></i> Locadora SLV
						</h2>
					</div>
					<div class="w3-container w3-white w3-padding-16">
						<form method="GET" th:action="@{/veiculos/buscar/nome}">
							<div class="w3-row-padding" style="margin: 0 -16px;">
								<div class="w3-half w3-margin-bottom">
									<label><i class="fa fa-calendar-o"></i> Retirar</label> <input
										class="w3-input w3-border" type="text"
										placeholder="DD MM YYYY" name="CheckIn" required>
								</div>
								<div class="w3-half">
									<label><i class="fa fa-calendar-o"></i> Devolução</label> <input
										class="w3-input w3-border" type="text"
										placeholder="DD MM YYYY" name="CheckOut" required>
								</div>
							</div>
							<div class="w3-row-padding" style="margin: 8px -16px;">
								<div class="w3-half w3-margin-bottom">
									<label><i class="fa fa-clock-o"></i> Hora de Retirada</label> <input
										class="w3-input w3-border" type="time" placeholder="00:00"
										name="hora">
								</div>
								<div class="w3-half">
									<label><i class="fa fa-clock-o"></i> Hora de Devolução</label>
									<input class="w3-input w3-border" type="time"
										placeholder="00:00" name="hora">
								</div>

							</div>
							<div>
									<label><i class="fa fa-search"></i> Retirar o veículo
										em:</label> <input class="w3-input w3-border" type="text"
										placeholder="Informe a cidade" th:name="nome" required>
							</div>
							</br>
							<button class="w3-button w3-dark-grey" type="submit">
								<i class="fa fa-search w3-margin-right"></i>Buscar
							</button>
						</form>
					</div>
				</div>
				<img class="w3-image" src="/imagens/cm2.png">
			</div>
		</div>

		<div class="btn-topo" style="margin: 32px 0;" id="about">
			<h3>Requisitos para aluguel de carros e motos</h3>
			<div class="w3-row-padding w3-padding-16">
				<div class="w3-third w3-margin-bottom">
					<div class="w3-container w3-white">
						<h1>
							<i class="fa fa-id-card"></i>
						</h1>
						<h3>Idade e tempo de carteira</h3>
						<p style="margin: 32px 0;" id="about">O responsável pela
							locação deve ter 21 anos completos, ser habilitado há pelo menos
							2 anos, e portar CNH dentro da validade (se vencida, mesmo dentro
							dos 30 dias permitidos pelo DETRAN, não é aceita). Em alguns
							casos, dependendo da locadora essa regra pode ser flexibilizada,
							mantenha contato com nossa equipe.</p>
					</div>
				</div>
				<div class="w3-third w3-margin-bottom">
					<div class="w3-container w3-white">
						<h1>
							<i class="fa fa-user-o"></i>
						</h1>
						<h3>Documentos originais</h3>
						<p style="margin: 32px 0;" id="about">É preciso apresentar CNH
							original, nela constam também CPF e RG, ideal ter em mãos. Em
							alguns casos é solicitado apresentar comprovante de residência
							atualizado, caso a documentação esteja vencida nossa locadora não
							aluga por segurança da empresa. Alugue o seu carro na melhor
							locadora do Rio Grande do Norte.</p>
					</div>
				</div>
				<div class="w3-third w3-margin-bottom">
					<div class="w3-container w3-white">
						<h1>
							<i class="fa fa-credit-card"></i>
						</h1>
						<h3>Cartão de crédito</h3>
						<p style="margin: 32px 0;" id="about">Portar cartão de crédito
							emitido por banco, e de titularidade própria, com limite
							disponível para o bloqueio da caução.Algumas locadoras aceitam
							cartões emitidos por lojas ou financeiras, aceitamos todos os
							tipos de bandeiras, Mastercard, VISA, ELO e entre outros,
							parcelamos da forma que o cliente desejar.</p>
					</div>
				</div>
				<div class="w3-third w3-margin-bottom">
					<div class="w3-container w3-white">
						<h1>
							<i class="fa fa-check"></i>
						</h1>
						<h3>CPF sem restrição</h3>
						<p style="margin: 32px 0;" id="about">As empresas de locação
							consultam o CPF do locatário, e não liberam o carro em caso de
							apontamentos. Isso também se aplica aos condutores adicionais.
							Algumas locadoras, desde que todos os outros requisitos sejam
							respeitados, dependendo da restrição, liberam a locação. Fale com
							nossa equipe e saiba quais.</p>
					</div>
				</div>
			</div>
		</div>


		<!-- Page content -->
		<div class="w3-content" style="max-width: 1532px;">
			<div class="w3-container w3-margin-top" id="rooms">
				<h2>Veículos</h2>
				<p>
				<h4>Sinta o conforto é o nosso slogan. Oferecemos os melhores
					veículos de acordo com seu dinheiro. Dirija ou pilote bem no
					conforto.</h4>
				</p>
			</div>
			<div class="w3-panel w3-red w3-leftbar w3-padding-32">
				<div class="w3-row-padding w3-padding-16">
					<div class="w3-third w3-margin-bottom">
						<img src="/imagens/gol.png" alt="Norway" style="width: 89.9%">
						<div class="w3-container w3-white">
							<h3>Veículo Normal</h3>
							<h5 class="w3-opacity">R$ 100,00</h5>
							<p>+Seguro</p>
							<p>R$ 10,00</p>
							<p class="w3-large">
								<i class="fa fa-credit-card"></i> <i class="fa fa-money"></i>
							</p>
						</div>
					</div>
					<div class="w3-third w3-margin-bottom">
						<img src="/imagens/fiat.png" alt="Norway" style="width: 97%">
						<div class="w3-container w3-white">
							<h3>Veículo VIP</h3>
							<h5 class="w3-opacity">R$ 250,00</h5>
							<p>+Seguro</p>
							<p>R$ 20,00</p>
							<p class="w3-large">
								<i class="fa fa-credit-card"></i> <i class="fa fa-money"></i>
							</p>
						</div>
					</div>
					<div class="w3-third w3-margin-bottom">
						<img src="/imagens/moto.png" alt="Norway" style="width: 90%">
						<div class="w3-container w3-white">
							<h3>Moto Normal</h3>
							<h5 class="w3-opacity">R$ 50,00</h5>
							<p>+Seguro</p>
							<p>R$ 10,00</p>
							<p class="w3-large">
								<i class="fa fa-credit-card"></i> <i class="fa fa-money"></i>
							</p>
						</div>
					</div>
					<div class="w3-third w3-margin-bottom">
						<img src="imagens/moto1.png" alt="Norway" style="width: 85%">
						<div class="w3-container w3-white">
							<h3>Moto VIP</h3>
							<h5 class="w3-opacity">R$ 150,00</h5>
							<p>+Seguro</p>
							<p>R$ 20,00</p>
							<p class="w3-large">
								<i class="fa fa-credit-card"></i> <i class="fa fa-money"></i>
							</p>
						</div>
					</div>
					<a href="veiculos/listar"
						class="w3-button w3-block w3-black w3-margin-bottom">Escolha</a>
				</div>
			</div>
		</div>
		<div class="btn-ctg">
			<h2>As categorias preferidas</h2>
		</div>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
				<li data-target="#myCarousel" data-slide-to="4"></li>
				<li data-target="#myCarousel" data-slide-to="5"></li>
			</ol>

			<!-- Wrapper for slides -->

			<div class="carousel-inner">
				<div class="item active">
					<img src="/imagens/moto.png" alt="Norway" style="width: 31%">
					<div class="carousel-caption">
						<h3>CG</h3>
						<p>Moto com o melhor conforto da categoria normal.</p>
					</div>
				</div>

				<div class="item">
					<img src="/imagens/toro.png" alt="Chicago" style="width: 31%">
					<div class="carousel-caption">
						<h3>Pickup Compacta</h3>
						<p>
							Possuem cabine dupla, acomodam até 5 passageiros, </br>contam com
							motorização a partir de 1.6 e câmbio automático. </br>São veículos
							flex e a caçamba acomoda uma boa quantidade de </br>bagagem/carga.
							Ideais para todos os tipos de utilização.
						</p>
					</div>
				</div>

				<div class="item">
					<img src="/imagens/cb.png" alt="New York" style="width: 32.4%">
					<div class="carousel-caption">
						<h3>CB</h3>
						<p>Conforto, seguraçã e desempenho.</p>
					</div>
				</div>

				<div class="item">
					<img src="/imagens/s.png" alt="New York" style="width: 34.5%">
					<div class="carousel-caption">
						<h3>Pickup</h3>
						<p>
							São veículos de grande porte, cabine dupla e motor potente. </br>Acomodam
							até 5 pessoas com muito conforto. Versões à gasolina ou diesel </br>(verifique
							no momento da reserva). Oferecem amplo espaço para transporte </br>de
							bagagens/carga. Indicados para qualquer utilização.
						</p>
					</div>
				</div>

				<div class="item">
					<img src="/imagens/xre.png" alt="New York" style="width: 30.4%">
					<div class="carousel-caption">
						<h3>XRE</h3>
						<p>Conforto, seguraçã e desempenho em estrada carrosal.</p>
					</div>
				</div>

				<div class="item">
					<img src="/imagens/gol.png" alt="New York" style="width: 31%">
					<div class="carousel-caption">
						<h3>Econômico</h3>
						<p>
							É a categoria mais reservada, seja por ter preço mais acessível
							ou pela economia de combustível. </br>São hatchback, com porta-malas
							integrado e reduzido. Acomodam até 5 pessoas (ideal 4). Em geral
							</br>possuem motor com menor potência. Indicados para quem vai rodar
							na cidade.
						</p>
					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#myCarousel"
				data-slide="next"> <span class="sr-only">Next</span>
			</a>
		</div>

		<div class="w3-container" id="contact">
			<h2>Contato</h2>
			<p>Se você tiver alguma dúvida, não hesite em perguntar.</p>
			<i class="fa fa-map-marker w3-text-red" style="width: 30px"></i> Pau
			dos Feros, RN<br> <i class="fa fa-phone w3-text-red"
				style="width: 30px"></i> Phone: (84) 99814-2536<br> <i
				class="fa fa-envelope w3-text-red" style="width: 30px"> </i> Email:
			locadorafl@gmail.com<br>
			<form action="/action_page.php" target="_blank">
				<p>
					<input class="w3-input w3-padding-16 w3-border" type="text"
						placeholder="Name" required name="Name">
				</p>
				<p>
					<input class="w3-input w3-padding-16 w3-border" type="text"
						placeholder="Email" required name="Email">
				</p>
				<p>
					<input class="w3-input w3-padding-16 w3-border" type="text"
						placeholder="Message" required name="Message">
				</p>
				<p>
					<button class="w3-button w3-black w3-padding-large" type="submit">Enviar</button>
				</p>
			</form>
		</div>
		</div>
	</section>
</body>
</html>