<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Locação de Veiculos - Cadastro de Usuario</title>
<!-- CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css"
	rel="stylesheet">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="/css/carrosel.css">
</head>
<body>
	<!-- Navigation Bar -->
	<div class="w3-bar w3-white w3-large">
		<a href="#" class="w3-bar-item w3-button w3-red w3-mobile"><i
			class="fa fa-car"></i> SLV</a> <a href="#about"
			class="w3-bar-item w3-button w3-mobile">Requisitos</a> <a
			href="#rooms" class="w3-bar-item w3-button w3-mobile">Veículos</a> <a
			href="#contact" class="w3-bar-item w3-button w3-mobile">Contato</a> <a
			href="../../index.html"
			class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Área
			do cliente</a>
	</div>

	<h1>Nossa View!</h1>


	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<!-- To use this code on your website, get a free API key from Google. Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp -->
</body>
</html>

